body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

button {
  cursor: pointer;
  font-size: 16px;
}

.offers img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
